{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2>Tableau récapitulatif des moyennes importées :</h2>
	<ul>
	{% for moyenne in listeLigneMoyenne %}
		<li>{{moyenne}}</li>
	{% endfor %}
	</ul>
	<div class="blockScrollable">
		<table class="listeMoyenne">
		<tr>
			{% for entete in premiereLigneTableau %}
				<th>{{entete}}</th>
			{% endfor %}
		</tr>
		{% for ligne in listeLigneTableau %}
			<tr>
				{% for colonne in ligne %}
					<td>{{colonne}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</div>
	<br>
	<a href='/gestionEtudiant/listeEtudiant'><input type="button" value="Retour à la gestion des étudiants" /></a>
{% endblock %}
