{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification de la version du semestre actuel de l'etudiant {{ etudiant.nom }} {{ etudiant.prenom }}</h1>
	<form method='POST' action='#'>
		{% csrf_token %}
		<label>Version du semestre : </label><select name="idModeleSemestre" required>
			{% for modele in modelesSemestre %}
				<option value="{{modele.id}}" {% if modele == modeleDefaut %}selected{% endif %}>{{modele}}</option>
			{% endfor %}
		</select><br><br>
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}