{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<h2>Moyennes du {{semestre}} de l'étudiant {{etudiant.nom}} {{etudiant.prenom}}</h2>
	
	<form method='POST' action='#'>
		{% csrf_token %}
		<table>
			<caption>{{tableau.ligneEntete}}</caption>
			{% for ligne in tableau.ligneTableau %}
				<tr>
					<td>{{ligne.0}}</td>
					<td><input type="number" name="{{ligne.2}}" step="0.001" value="{{ligne.1}}" required></td>
				</tr>
			{% endfor %}
		</table>
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
	
{% endblock %}