{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Modification des informations de gestion de l'etudiant {{ etudiant.nom }} {{ etudiant.prenom }}</h1>
	
	<form method='POST' action='#'>
		{% csrf_token %}
		
		<p><label for="id_numero">Numéro étudiant :</label> <input id="id_numero" name="numero" type="number" value="{{etudiant.numero}}" required /></p>
		
		<p><label for="id_semestre">Semestre :</label> <select id="id_semestre" name="semestre" required
		{% if not modeleFormationModifiable %}
			disabled
			alt="Vous ne pouvez pas changer le semestre de cet étudiant car il a déjà des notes pour ce semestre"
			title="Vous ne pouvez pas changer le semestre de cet étudiant car il a déjà des notes pour ce semestre"
		{% endif %}
		 >
			{% for semestre in semestresPossible %}
				<option value="{{semestre.id}}"
				{% if etudiant.semestreActuel.semestre == semestre %}
					 selected="selected"
				{% endif %}
				>{{semestre}}</option>
			{% endfor %}
		</select></p>
		
		<p><label for="id_anneeUniversitaire">Année universitaire :</label> <select id="id_anneeUniversitaire" name="anneeUniversitaire" required
		{% if not modeleFormationModifiable %}
			disabled
			alt="Vous ne pouvez pas changer l'année de cet étudiant car il a déjà des notes pour ce semestre"
			title="Vous ne pouvez pas changer l'année de cet étudiant car il a déjà des notes pour ce semestre"
		{% endif %}
		 >
			{% for annee in anneesUniversitaires %}
				<option value="{{annee}}"
				{% if etudiant.semestreActuel.anneeUniversitaire.anneeUniversitaire == annee %}
					 selected="selected"
				{% endif %}
				>{{annee}}</option>
			{% endfor %}
		</select></p>
		
		<input type="submit" value="Valider">
		<input type="reset" value="Annuler">
		<input type="button" value="Retour" onClick="history.go(-1);return true;">
	</form>
{% endblock %}