{% extends "base.html" %}
{% load static %}
{% block content %}
	
	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
	
	<h1 class="longTitre">Retour des décisions du pré-jury et du jury pour le semestre {{ semestre }}</h1>
	
	<a href="/gestionJury/validerSemestre/{{ semestre.id }}"><input type="button" value="Valider l'ensemble des résultats"
	{% if not semestreValidable %}
		 disabled
		 alt="{{ messageSemestrePasValidable }}"
		 title="{{ messageSemestrePasValidable }}"
	{% endif %}/></a>
	<a href="/gestionJury/choixSemestreAReporter"><input type="button" value="Retour à la sélection du semestre" /></a>
	
	<br><br>
    <div id="tableau">
        <table class="listeTable">

            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Résultat calculé</th>
                <th>Résultat pré-jury</th>
                <th>Résultat jury</th>
                <th>Modifier les résultats</th>
                <th>Devenir de l'étudiant</th>
                <th>Modifier le devenir de l'étudiant</th>
            </tr>

            {% for assoc in listeAsso %}
                <tr>
                    <td>{{ assoc.etudiant.numero }}</td>
                    <td>{{ assoc.etudiant.nom }}</td>
                    <td>{{ assoc.etudiant.prenom }}</td>
                    <td>{{ assoc.resultatSemestreCalcule.codeResultat }}</td>
                    <td>{{ assoc.resultatSemestrePreJury.codeResultat }}</td>
                    <td>{{ assoc.resultatSemestreJury.codeResultat }}</td>
                    <td><a href="/gestionJury/modifierResultat/{{assoc.id}}"><input type="button" value="Modifier les résultats" /></a></td>
                    <td>{{ assoc.devenirEtudiant.code }}</td>
                    <td><a href="/gestionJury/modifierDevenir/{{assoc.id}}"><input type="button" value="Modifier le devenir" /></a></td>
                </tr>
            {% endfor %}

        </table>
    </div><!-- fin div id tableau -->
	
{% endblock %}