{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Une erreur est survenue !</h1>
	
	<h2>{{titreErreur}} : </h2>
	
	<p>{{messageErreur}}</p>
	
	<h2>Détails : </h2>
	
	<ul>
	{% for detailErreur in detailsErreur %}
		<li>{{detailErreur}}</li>
	{% empty %}
		<li>Aucun détails n'a été spécifié pour cette erreur.</li>
	{% endfor %}
	</ul>
	
	{% if pageRetour %}
		<a href="{{pageRetour}}"><input type="Button" value="Retour à la page précédente"></a>
	{% else %}
		<input type="Button" value="Retour à la page précédente" onClick="history.go(-1);return true;">
	{% endif %}
{% endblock %}