{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1>Vous êtes en train de : {{actionUtilisateur}}</h1>
	
	<h1>Etes vous certain de vouloir faire ceci ?</h1>
	
	<form method="POST" action="{{lienActionUtilisateur}}">
		{% csrf_token %}
		{% for name, valeur in valeursPOSTAConserver %}
			<input type="hidden" name="{{name}}" value="{{valeur}}">
		{% endfor %}
		<input type="hidden" name="formulaireDeConfirmation" value="1">
		<input type="Submit" value="Oui, je suis certain">
		<input type="Button" value="Non, je ne voulais pas faire ça" onClick="history.go(-1);return true;">
	</form>
{% endblock %}